* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    font-family: 'Roboto Slab', serif;
    background: #333333;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(-60deg, #dd1818, #333333);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-60deg, #dd1818, #333333);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flow 10s ease-in-out infinite;
}

body {
    background-color: #222;
}

@keyframes flow {
    0% {
        background-position: 0 50%;

    }

    50% {
        background-position: 100% 50%;

    }

    100% {
        background-position: 0 50%;
    }
}